data/*
*/__pycache__/*
Pipfile.lock
/data_analysis.egg-info
notebooks/modeling/.DS_Store
competitions/*
.DS_Store
*.pyc
src/config/__pycache__/__init__.cpython-313.pyc
src/config/__pycache__/paths.cpython-313.pyc
